target/*
.settings/*
.classpath
.project
.factorypath
.attach_pid*
.idea
*.iml
/target
.sts4-cache/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
_site/
.editorconfig
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/MavenWrapperDownloader.java
.travis.yml
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
